.section { margin-bottom: 2rem; }
.overview-container { display: flex; gap: 1rem; }
.images img { max-width: 40%; margin-right: 1rem; }
.params { margin-top: 1rem; }
.param-group { margin-bottom: 1rem; display: flex; align-items: center; gap: 0.5rem; }
#scaleRange { width: 80%; }
.top-description { display: flex; align-items: center; }
#dataset-description { margin-top: 1rem; }

