<nav aria-label="Main" id="site-nav" class="site-nav">
    <ul class="nav-list">
        <li class="nav-list-item active"><button class="nav-list-expander btn-reset"
                aria-label="toggle items in SpatialZoomer category" aria-pressed="false"> <svg
                    viewBox="0 0 24 24" aria-hidden="true">
                    <use xlink:href="#svg-arrow-right"></use>
                </svg> </button><a href="/" class="nav-list-link">SpatialZoomer</a>
            <ul class="nav-list">
                <li class="nav-list-item"><a href="#overview" class="nav-list-link">Overview</a>
                <li class="nav-list-item"><a href="#demo" class="nav-list-link">Demo</a>
                <li class="nav-list-item"><a href="#installation"
                        class="nav-list-link">Installation</a>
                <li class="nav-list-item"><a href="#tutorial" class="nav-list-link">Tutorial</a>
                <li class="nav-list-item"><a href="#references" class="nav-list-link">References</a>
            </ul>
        <li class="nav-list-item"><a href="/about/" class="nav-list-link">About</a>
    </ul>
    <ul class="nav-list">
        <li class="nav-list-item external"> <a href="https://github.com/Li-Xinqi/SpatialZoomer"
                class="nav-list-link external"> SpatialZoomer on GitHub <svg viewBox="0 0 24 24"
                    aria-labelledby="svg-external-link-title">
                    <use xlink:href="#svg-external-link"></use>
                </svg> </a>
    </ul>
</nav>